*{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
.position-form{
	display: flex;
	justify-content: center;
}
#main-form{
	display: flex;
	flex-direction: column;
	background-color: #beffca;
	padding: 50px 100px;
	margin: 90px;
}
.main-points label{
	margin-right: 20px;
}
button[type=submit],
input[type=text]{
	width: 25vmin;
}
/*input[type=submit]{
	padding: 5px 20px;
	background-color: #d1f059;
	border: 1px solid black;
	margin-top: 10px;
}*/
button[type=submit]{
	padding: 5px 20px;
	background-color: #d1f059;
	border: 1px solid black;
	margin-top: 10px;
}
